<div class="centered">
    <h1>Menu Inicial</h1>
    <hr>

    <%= link_to "Categorias", categories_path, class:"btn btn-secondary" %>
    <%= link_to "Produtos", products_path, class:"btn btn-dark" %>
</div>
